@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
    --terminal-bg: rgb(4, 98, 52, 0.6);
    --icon-size: 1.5vmin;
    --terminal-border-flow: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: linear-gradient(rgba(0, 0, 17, 0.2), #000), url("./bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#terminal {
    width: 40vw;
    height: 40vh;
    border: var(--terminal-border-flow) solid var(--terminal-bg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 2px rgba(68, 187, 108, 0.15);
}

#terminal-header-bar {
    width: 100%;
    height: 4vh;
    background-color: var(--terminal-bg);
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 0 0 var(--terminal-border-flow) 10px;
}

#terminal-header-bar>.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: rgb(108, 187, 154);
    border-radius: 50%;
}

#terminal-content {
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(var(--terminal-border-flow));
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-left: 2rem;
    position: relative;
}

.command {
    color: rgb(0, 160, 0);
}

.command>* {
    vertical-align: bottom;
}

.unchecked::before,
.checked::before {
    position: absolute;
    left: 0.7rem;
    color: rgb(0, 207, 0);
}

.unchecked::before {
    content: "--";
}

.checked::before {
    content: "✓";
    transform: translateY(-0.2rem);
}

#cursor {
    width: 5px;
    height: 1.4rem;
    transform: translateX(0.2rem);
    background: #fff;
    display: inline-block;
    animation: blink 0.38s ease infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 500px) {
    #terminal {
        width: 90%;
        height: 90vh;
    }
}

@media only screen and (max-width: 700px) {
    #terminal {
        width: 90%;
    }
}